<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Product</title>
</head>

<body>
    <h1>Add a Product</h1>
    <form action="/products" method="POST">
        <label for="name">Product Name</label>
        <input type="text" name="name" id="name" placeholder="Product name">
        <label for="price">Price (unit)</label>
        <input type="number" name="price" id="price" placeholder="Product price">
        <label for="category">Select Category</label>
        <select name="category" id="category">
            <% for (let category of categories) {%>
            <option value="<%= category %>"><%= category %></option>
            <% } %>  
        </select>
        <button>Submit</button>
    </form>

    <a href="/products">Cancel</a>

</body>
</html>